<div class="container">
 <app-cockpit>
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBluprintAdded($event)"
</app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change first Elemnt</button>
      <app-serverelment *ngFor="let serverElement of serverElements"
      [srvelement]="serverElement">
      <p>
        <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
        <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
      </p>
    </app-serverelment>
      </div>
    </div>
  </div>
